.signUpAddress {
    margin: auto;
    margin-top: 25px;
    text-align: center;
}
h6 {
    text-align: left;
    height: 20px;
    color: red;
    margin: 0;
    margin-top: -20px;
}
.or {
    margin-top: -10px !important;
}
