.header img {
    height: 80px;
    margin-top: 10px;
}
.header {
    text-align: center;
}
.header nav {
    background-color: black;
    line-height: 40px;
    font-size: 20px;
}
nav a {
    text-decoration: none;
    color: white;
    padding: 5px 25px;
}
nav a:hover {
    background-color: gray;
}
