.header img {
    height: 80px;
    margin: 10px 0;
}
.header {
    text-align: center;
}
.header nav {
    display: flex;
    justify-content: center;
    background-color: black;
    height: fit-content;
}
nav a {
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    font-weight: 500;
}
nav a:hover {
    background-color: #ffffff;
    color: black;
}
